body {
  font-family: "Raleway", sans-serif;
  background-color: rgba(255, 228, 196, 0.588);
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(222, 184, 135, 0.227);
  padding: 10px 20px;
  align-items: center;
}

.logo {
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 15px;
  font-size: 15px;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.cart-widget {
  font-size: 22px;
  color: rgba(255, 255, 255, 0.509);
}

.cart-count {
  background-color: white;
  color: #ff69b4;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 14px;
  margin-left: 4px;
}

.container {
  padding: 20px;
}

.titulo {
  text-align: center;
  margin-bottom: 20px;
}

.item-detail {
  text-align: center;
  padding: 30px;
}

.item-detail img {
  width: 250px;
  border-radius: 10px;
}

.mensaje-bienvenida {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
