body {
  font-family: "Raleway", sans-serif;
  background-color: rgba(255, 228, 196, 0.588);
  margin: 0;
  padding: 0;
}

.bienvenidos {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.582);
  text-align: center;
  margin: 40px 0;
}
.nav-links li a {
  text-decoration: none;
  color: #555;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.nav-links li a:hover {
  background-color: #ffe6eb;
  color: #ff6b8182;
}

.nav-links li a.active {
  color: #fff;
  background-color: #ff6b8124;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(222, 184, 135, 0.227);
  padding: 9px 10px;
  align-items: center;
}

.logo {
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-size: 10px;
  font-family: "Times New Roman", Times, serif;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 15px;
  font-size: 15px;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.cart-widget {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  margin-right: 10px;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -5px;
  background-color: white;
  color: #ff69b4;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 20px;
}

.titulo {
  text-align: center;
  margin-bottom: 20px;
}

.item-detail {
  text-align: center;
  padding: 30px;
}

.item-detail img {
  width: 250px;
  border-radius: 10px;
}

.mensaje-bienvenida {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.text-center {
  font-family: "Times New Roman", Times, serif;
  color: rgba(0, 0, 0, 0.487);
}
